body,
html {
  height: 100%;
  margin: 0;
}

.creasouk-fonts {
  /* font-size: 5em; */
}

.icon_content_1 {
  vertical-align: middle;margin-right:30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.size-64 {
  font-size: 5em;
  color: #8080806b;
}