<div id="gjs" style="height:0px; overflow:hidden;">
  <div style="background-color: red">Test new content</div>
  <div class="panel">
    <h1 class="welcome">LIVE EDITION</h1>
    <div class="big-title">
      <span>CREASOUK THEMES</span>
    </div>
    <div class="description">
        <img src="http://www.maroc-nature.com/medias/Circuit/1%20Day%20Tours/Marrakech%20Desert%20Alas/Atlas%20desert%20day%20tour.jpg">
      GET Started theme, This is a demo content from index.html. For the development, you shouldn't edit this file, instead you can
      copy and rename it to _index.html, on next server start the new file will be served, and it will be ignored by git.
    </div>
  </div>
</div>
